
.title-section {
  text-align: left;
}

.copyright-link {
  color: #fff;
  font-size: 0.8rem;
  margin-top: 0;
}

.PSEtitle-section {
  text-align: center;
  background-color: #00909e;
    margin: 0 1%;
}
.PSE-img {
  width: 60%;
}
.PSE-profile {
  padding: 2% 4%;
  text-align: center;
}
.home-nav {
  color: #fff;
  font-size: 2em;
  font-family: Ubuntu;
  font-weight: bold;
}
.home-nav:hover {
  color: #82c4c3;
}
body {
font-family: Montserrat-Light;
}

h1, h2, h3, h4, h5, h6 {
  color: #00909e;
}

p {
  font-size: 1.3rem;
}

.dropdown-menu {
  background-color: #00909e;
  margin-left: 76%;
  }

.dropdown-item {
  font-family: Montserrat-Light;
  color: #fff;
}

.unilag-img {
  float: left;
  width: 13%;
  margin-top: 15px;
  margin-left: 15px;
}

.profile-div {
  width: 30%;
  position: absolute;
  margin-top: 5%;
  display: inline-block;
}

@media (max-width: 1250px) {
.profile-div {
  margin-top: 5%}
  .profile-img {
    width: 25%;
  margin: 2% 1% 2% 20%;}
  .profile-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 1001px) {
.profile-div {
  width: 40%;
  margin-top: 4%}
  .profile-img {
    width: 27%;
  margin: 2% 1% 2% 15%;}
  .profile-text {
    font-size: 1.1rem;}
  .profile-text1 {
    font-size: 2rem;}
}

@media (max-width: 990px) {
  .dropdown-menu {
    margin-left: 40%;
  border: none;
width: 35%;}
}

@media (max-width: 1037px) {
  .btn { margin: 0.5%;}
}

@media (min-width: 1251px) {
.profile-img {
  width: 20%;
  margin: 2% 1% 2% 20%;
}
  }


.navbar {
  background-color: #00909e;
  padding-right: 5%;
}

.nav-item {
  padding: 0 12px;
  font-family: Montserrat-Light;
  font-size: 1.2rem;
}

.competency-section {
  background-color: #00909e;
  text-align: center;
  padding: 5% 0 2%;
  margin: 0 1%;
}

.carousel-text {
  color: #fff;
  padding-bottom: 40px;
  padding-top: 0;
}
.competencies-img {
  width: 70%;
  text-align: center;
}

.research-section {
  text-align: justify;
  padding: 2% 0 2%;
  margin: 0 1%;
}

.research-buttons {
  padding: 0 10% 2% 15%;
}

.research-button {
  padding: 0 10% 5% 15%;
}

.btn {
  background-color: #00909e;
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #fff;
  color: #00909e;
}

.pubList {
  font-size: 1.3rem;
  line-height: 1.5;
}

.honours-text {
  font-size: 1.3rem;
}

.contact-section {
  background-color: #00909e;
  text-align: center;
  margin: 0 1%;
  padding: 2% 0 1%;
}

.contact-links {
  color: #fff;
  padding-right: 20px;
  font-size: 1.3rem;
}

.copyright {
  padding-top: 2%;
  color: #fff;
}

.middle-container {
    margin: 0 1%;
    padding: 2% 12.5% 5%;
    text-align: justify;
}

hr{
  border: dotted #11999e 8px;
  border-bottom: none;
  width: 80%;
  margin: 30px auto;
  }

.sampleSites {
  margin-left: 180px;
  margin-top: 20px;
}

.sampleSites-text {
  text-align: center;
}
/* @media screen and (min-width: 1024px) {
#scroll-to-top {
display: none;
    z-index: 100;
    position: fixed;
    right: 5%;
    top: 50%;
    cursor: pointer;
    padding: 10px 13px;
    border-radius: 100%;
    color: #000;
    font-size: 11px;
    width: 52px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 12px;
  }
} */
